<h3><span>【<%= current_user.last_name %>さん】が参加中のチーム一覧</span></h3>

<table>
  <tr>
    <th>チーム名</th><th>参加人数</th><th>管理者権限</th><th></th><th></th><th></th>
  </tr>
  <% @teams.each do |team| %>
    <tr>
      <td><%= team.team_name %></td>
      <td><%= team.number_of_people %></td>
      <td>
        <% team_member = @team_members.find_by(team_id: team.id) %>
        <%= team_member.privilege %>
      </td>
      <td><%= link_to "表示", team_path(team.id) %></td>
      <td>
        <% if team_member.privilege == "○" %>
          <%= link_to "編集", users_path(team_id: team.id) %></td>
        <% else %>
          <span>―</span>
        <% end %>
      <td>退出</td>
    </tr>
  <% end %>
</table>

<%= link_to "新しいチームを作成", new_team_path %>