<h3>【<%= current_user.last_name %>さん】が参加している<span>【<%= @team.team_name %>】チームの仕事</span></h3>


<% @users.each do |user| %>

  <%= user.last_name %>

  <% @events = Event.where(user_id: user.id) %>
  <%= week_calendar(partial: 'simple_calendar/team_calendar', start_date_param: :main_date, number_of_weeks: 2, attribute: :start_date, end_attribute: :end_date, events: @events) do |date, events| %>
  <%#= week_calendar(start_date_param: :main_date, number_of_weeks: 2, attribute: :start_date, end_attribute: :end_date, events: @events) do |date, events| %>
    <% date %>

    <% events.each do |event| %>

      <% if event.appointment_id.present? %>
        <% appointment = Appointment.find(event.appointment_id) %>
        <%= link_to appointment.destination, appointment_path(appointment.id) %>
      <% end %>

      <% if event.meeting_id.present? %>
        <% meeting = Meeting.find(event.meeting_id) %>
        <%= link_to meeting.title, meeting_path(meeting.id) %>
      <% end %>

      <% if event.task_id.present? %>
        <% task = Task.find(event.task_id) %>
        <%= link_to task.title, task_path(task.id) %>
      <% end %>

    <% end %>

  <% end %>

<% end %>