<h3><span>【<%= current_user.last_name %>さん】個人の仕事</span>の完了処理</h3>

<div>
  <span>日時</span><%= @event.start_date %><span>所要時間(目安)</span><%= @event.time_span %>
</div>
<div>
  <span>チームMTGの件名</span><%= @meeting.title %>
</div>
<div>
  <span>チームMTGの内容</span><%= @meeting.introduction %>
</div>

<%= form_with model: @event, url: "/meetings/#{@meeting.id}", local: true do |f| %>
  <%= f.hidden_field :completed, value: true %>
  <%= f.submit '上記の仕事を対応完了済にする' %>
<% end %>

<%= link_to "戻る", meeting_path(@meeting.id) %>