<h3><span>【<%= current_user.last_name %>さん】個人の仕事</span>にその他の仕事の予定を追加</h3>

<div>
  <span>仕事の件名</span><%= @task.title %>
</div>
<div>
  <span>仕事の内容</span><%= @task.introduction %>
</div>
<div>
  <span>ステータス</span><%= @task.deadline_status %>
</div>

<%= form_with model: @event, url: "/tasks/#{@event.id}", loval: true do |f| %>
  <%= f.hidden_field :task_id, value: @task.id %>
  <%= f.submit '上記内容の仕事を追加' %>
<% end %>

<%= link_to "仕事の追加をキャンセル", "/tasks/#{@event.id}", method: :delete %>