<h3><span>【<%= current_user.last_name %>さん】個人の仕事</span>にその他の仕事の予定を追加</h3>

<%= form_with model: @event, url: tasks_path, local: true do |f| %>
  <%= f.hidden_field :user_id, value: current_user.id %>
  <%= f.hidden_field :start_date, value: Time.now %>
  <%= f.fields_for :task, @event.build_task do |g| %>
    <%= g.label :title, "仕事の件名" %><%= g.text_field :title %>
    <%= g.label :introduction, "仕事の内容" %><%= g.text_area :introduction, placeholder: "空欄可" %>
    <div>
      <%= g.label :deadline_status, "ステータス" %>
      <%= g.radio_button :deadline_status, :締切あり, checked: true %><%= f.datetime_field :end_date %>締切
      <%= g.radio_button :deadline_status, :早急に対応 %>早急に対応
      <%= g.radio_button :deadline_status, :なるべく早めに %>なるべく早めに
      <%= g.radio_button :deadline_status, :手が空いたら %>手が空いたら
    </div>
  <% end %>

  <%= f.label :team_id, "参加者" %>
  <%= f.radio_button :team_id, "", checked: true %>個人の仕事（自分のみ）
  <%= f.radio_button :team_id, 0 %>チームの仕事
  <!--バリデーションチェック-->
    <%= f.collection_select(:team_id, @teams, :id, :team_name, {prompt: "--自分が参加中のチームから選択--"}) %>

  <%= f.submit '入力内容の確認' %>
<% end %>