<div class="row">
  <div class="col-5 col-lg-5 my-3">
    <div class="row">
      <div class="col-1 col-lg-1"></div>
      <%= link_to user_path(@user.id), class: "btn col-11 col-lg-11 py-1 border border-primary", style: "text-decoration: none; border-radius: 0;" do %>
        <h5 class="text-secondary text-center m-0">【<%= @user.last_name %>さん】個人の登録情報</h5>
      <% end %>
    </div>
  </div>
  <p class="col-7 col-lg-7 my-3 text-secondary d-flex align-items-center">
    の編集
  </p>
</div>

<% if @user.errors.any? %>
  <%= @user.errors.count %>件のエラーが発生しました。
  <% @user.errors.full_messages.each do |message| %>
    <%= message %>
  <% end %>
<% end %>

<div class="row">
  <div class="col-1 col-lg-1"></div>
  <div class="col-10 col-lg-10">

    <%= form_with model: @user, url: "/users/#{@user.id}", local: true do |f| %>

      <div class="row my-3">
        <div class="col-5 col-lg-3 text-center text-secondary" style="background-color: #e7e6e6;">氏名</div>
        <div class="col-7 col-lg-3">
          <div class="form-inline row">
            <%= f.label :last_name, "姓", class: "col-4 col-lg-4 form-label text-secondary" %>
            <%= f.text_field :last_name, class: "col-8 col-lg-8 form-control" %>
          </div>
        </div>
        <div class="col-5 d-lg-none"></div>
        <div class="col-7 col-lg-3">
          <div class="form-inline row">
            <%= f.label :first_name, "名", class: "col-4 col-lg-4 form-label text-secondary" %>
            <%= f.text_field :first_name, class: "col-8 col-lg-8 form-control" %>
          </div>
        </div>
        <div class="d-none col-lg-3"></div>
      </div>

      <div class="row my-3">
        <div class="col-5 col-lg-3 text-center text-secondary" style="background-color: #e7e6e6;">フリガナ</div>
        <div class="col-7 col-lg-3">
          <div class="form-inline row">
            <%= f.label :last_name_kana, "セイ", class: "col-4 col-lg-4 form-label text-secondary" %>
            <%= f.text_field :last_name_kana, class: "col-8 col-lg-8 form-control" %>
          </div>
        </div>
        <div class="col-5 d-lg-none"></div>
        <div class="col-7 col-lg-3">
          <div class="form-inline row">
            <%= f.label :first_name_kana, "メイ", class: "col-4 col-lg-4 form-label text-secondary" %>
            <%= f.text_field :first_name_kana, class: "col-8 col-lg-8 form-control" %>
          </div>
        </div>
        <div class="d-none col-lg-3"></div>
      </div>

      <div class="row my-3">
        <div class="col-5 col-lg-3 text-center text-secondary" style="background-color: #e7e6e6;">
          <%= f.label :department, "所属" %>
        </div>
        <div class="col-7 col-lg-3">
          <div class="row">
            <div class="col-1 col-lg-1 p-0"></div>
            <%= f.text_field :department, placeholder: "空欄可", class: "col-11 col-lg-11 form-control" %>
          </div>
        </div>
        <div class="col-12 my-2 d-lg-none"></div>
        <div class="col-5 col-lg-3">
          <div class="row">
            <div class="d-col-none col-lg-1 p-0"></div>
            <div class="col-12 col-lg-11 text-center text-secondary" style="background-color: #e7e6e6;">
              <%= f.label :position, "役職" %>
            </div>
          </div>
        </div>
        <div class="col-7 col-lg-3">
          <div class="row">
            <div class="col-1 col-lg-1 p-0"></div>
            <%= f.text_field :position, placeholder: "空欄可", class: "col-11 col-lg-11 form-control" %>
          </div>
        </div>
      </div>

      <div class="row my-3">
        <div class="col-5 col-lg-3 text-center text-secondary" style="background-color: #e7e6e6;">
          <%= f.label :email, "メールアドレス" %>
        </div>
        <div class="col-7 col-lg-3">
          <div class="row">
            <div class="col-1 col-lg-1 p-0"></div>
            <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "col-11 col-lg-11 form-control" %>
          </div>
        </div>
        <div class="col-5 d-lg-none"></div>
        <div class="col-7 col-lg-6">
          <div class="row">
            <div class="col-1 col-lg-1 my-2"></div>
            <div class="form-check form-check-inline">
              <%= f.radio_button :email_is_published, true, checked: true, class: "form-check-input" %>
              <%= f.label :email_is_published, "同じチームの参加者に公開", class: "form-check-label text-secondary" %>
            </div>
            <div class="form-check form-check-inline">
              <%= f.radio_button :email_is_published, false, class: "form-check-input" %>
              <%= f.label :email_is_published, "非公開", class: "form-check-label text-secondary" %>
            </div>
          </div>
        </div>
      </div>

      <div class="row my-3">
        <div class="col-5 col-lg-3 text-center text-secondary">
          <div class="row">
            <%= f.label :introduction, "その他", class: "col-12 col-lg-12 pb-2 form-label", style: "background-color: #e7e6e6;" %>
            <div class="col-12 col-lg-12 my-2"></div>
          </div>
        </div>
        <div class="col-7 col-lg-9">
          <div class="row">
            <div class="col-12 col-lg-12">
              <%= f.text_area :introduction, placeholder: "空欄可", class: "form-control" %>
            </div>
          </div>
        </div>
      </div>


      <div class="row">
        <div class="col-12 col-lg-12 my-4">
          <div class="row">
            <div class="d-flex flex-lg-row flex-column justify-content-around col-12 col-lg-12">
              <div class="col-12 col-lg-5 d-flex justify-content-center" style="background-color: #8faadc; border-radius: 0;">
                <%= f.submit "変更を保存する", class: "btn btn-lg text-white" %>
              </div>
              <div class="col-12 my-2 d-lg-none"></div>
              <%= link_to "戻る", user_path(@user.id), class: "btn btn-lg text-white col-lg-5" , style: "background-color: #8faadc; border-radius: 0;" %>
            </div>
          </div>
        </div>
      </div>

    <% end %>

  </div>
  <div class="col-1 col-lg-1"></div>
</div>