<h3><span>【<%= @user.last_name %>さん】個人の登録情報</span>の編集</h3>

<%= form_with model: @user, url: "/users/:current_user", local: true do |f| %>

  <div class="row my-3">
    <div class="col-lg-1"></div>
    <div class="col-lg-2 aline-items-center text-center text-secondary" style="background-color: #e7e6e6;">氏名</div>
    <div class="col-lg-3"><%= f.label :last_name, "姓", class: "text-secondary" %><%= f.text_field :last_name %></div>
    <div class="col-lg-3"><%= f.label :first_name, "名", class: "text-secondary" %><%= f.text_field :first_name %></div>
    <div class="col-lg-2"></div>
    <div class="col-lg-1"></div>
  </div>

  <div class="row my-3">
    <div class="col-lg-1"></div>
    <div class="col-lg-2 aline-items-center text-center text-secondary" style="background-color: #e7e6e6;">フリガナ</div>
    <div class="col-lg-3"><%= f.label :last_name_kana, "セイ", class: "text-secondary" %><%= f.text_field :last_name_kana %></div>
    <div class="col-lg-3"><%= f.label :first_name_kana, "メイ", class: "text-secondary" %><%= f.text_field :first_name_kana %></div>
    <div class="col-lg-2"></div>
    <div class="col-lg-1"></div>
  </div>

  <div class="row my-3">
    <div class="col-lg-1"></div>
    <div class="col-lg-2 aline-items-center text-center text-secondary" style="background-color: #e7e6e6;"><%= f.label :department, "所属" %></div>
    <div class="col-lg-3"><%= f.text_field :department, placeholder: "空欄可" %></div>
    <div class="col-lg-2 aline-items-center text-center text-secondary" style="background-color: #e7e6e6;"><%= f.label :position, "役職" %></div>
    <div class="col-lg-3"><%= f.text_field :position, placeholder: "空欄可" %></div>
    <div class="col-lg-1"></div>
  </div>

  <div class="row my-3">
    <div class="col-lg-1"></div>
    <div class="col-lg-2 aline-items-center text-center text-secondary" style="background-color: #e7e6e6;"><%= f.label :email, "メールアドレス" %></div>
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    <div class="col-lg-1"></div>
  </div>

  <div class="row my-3">
    <div class="col-lg-1"></div>
    <%= f.radio_button :email_is_published, true %>同じチームの参加者に公開 <%= f.radio_button :email_is_published, false %>非公開
    <div class="col-lg-1"></div>
  </div>

  <div class="row my-3">
    <div class="col-lg-1"></div>
    <div class="col-lg-2 aline-items-center text-center text-secondary" style="background-color: #e7e6e6;"><%= f.label :introduction, "その他" %></div>
    <%= f.text_area :introduction, placeholder: "空欄可" %>
    <div class="col-lg-1"></div>
  </div>

  <div class="row my-3">
    <div class="col-lg-1"></div>
    <%= f.submit "変更を保存する" %><%= link_to "戻る", "/users/:current_user" %>
    <div class="col-lg-1"></div>
  </div>

<% end %>