<div class="row my-3">
  <div class="col-8 col-lg-8 d-flex align-items-end">
    <p class="text-secondary">
      【<%= current_user.last_name %>さん】が参加している
    </p>
    <%= link_to teams_path, class: "btn mx-2 border border-primary", style: "text-decoration: none; border-radius: 0;" do %>
      <h5 class="text-secondary text-center">【<%= @team.team_name %>】チーム</h5>
    <% end %>
    <p class="text-secondary">
      の編集
    </p>
  </div>
  <div class="col-4 col-lg-4"></div>
</div>

<div class="row">
  <div class="col-1 col-lg-1"></div>

    <table class="table col-10 col-lg-10 mt-4 text-secondary">
      <thead style="background-color: #dae3f3;">
        <tr>
          <th>【<%= @team.team_name %>】チーム参加者</th><th>参加者プロフィール</th><th>管理者権限</th><th>退出処理</th>
        </tr>
      </thead>

      <% @team_members.each do |team_member| %>
        <% user = User.find(team_member.user_id) %>

        <tbody>
          <tr>
            <td>
              <% if team_member.join_status == "参加済" %>
                <%= user.last_name %><%= user.first_name%>
              <% else %>
                <%= user.last_name %><%= user.first_name%>（※招待中）
              <% end %>
            </td>
            <td><%= link_to "表示", user_path(user.id), class: "btn btn-sm text-secondary" , style: "background-color: #dae3f3; border-radius: 0;" %></td>
            <td><%= team_member.privilege %><%= link_to "変更", change_privilege_confirm_path(team_id: @team.id, user_id: user.id), class: "btn btn-sm text-secondary" , style: "background-color: #dae3f3; border-radius: 0;" %></td>
            <td>
              <% if team_member.user_id == current_user.id %>
                <%= link_to "退出", "/team_members/#{team_member.id}", method: :delete, "data-confirm" => "このチームから退出しますか？", class: "btn btn-sm text-secondary" , style: "background-color: #dae3f3; border-radius: 0;" %>
              <% else %>
                <%= link_to "削除", "/team_members/#{team_member.id}", method: :delete, "data-confirm" => "この参加者をチームから削除しますか？", class: "btn btn-sm text-secondary" , style: "background-color: #dae3f3; border-radius: 0;" %>
              <% end %>
            </td>
          </tr>
        </tbody>

      <% end %>
    </table>

  <div class="col-1 col-lg-1"></div>
</div>

<div class="row">
  <div class="col-1 col-lg-1"></div>
  <div class="col-10 col-lg-10 mb-3">
    <div class="row">
      <div class="d-flex justify-content-around col-12 col-lg-12">
        <%= link_to "新しい参加者を招待", "/team_members/search_box/#{@team.id}", class: "btn btn-lg text-white mt-5 col-5 col-lg-5" , style: "background-color: #8faadc; border-radius: 0;" %>
        <%= link_to "チーム名の変更・削除", edit_team_path(@team.id), class: "btn btn-lg text-white mt-5 col-5 col-lg-5" , style: "background-color: #8faadc; border-radius: 0;" %>
      </div>
    </div>
  </div>
  <div class="col-1 col-lg-1"></div>
</div>