<div class="row">
  <div class="col-5 col-lg-5 my-3">
    <div class="row">
      <div class="col-1 col-lg-1"></div>
      <%= link_to user_path(@user.id), class: "btn col-11 col-lg-11 py-1 border border-primary", style: "text-decoration: none; border-radius: 0;" do %>
        <h5 class="text-secondary text-center m-0">【<%= @user.last_name %>さん】個人の登録情報</h5>
      <% end %>
    </div>
  </div>
  <p class="col-7 col-lg-7 my-3 text-secondary d-flex align-items-center">
    の確認
  </p>
</div>

<div class="row">
  <div class="col-1 col-lg-1"></div>
  <div class="col-10 col-lg-10">

    <div class="row my-4">
      <div class="col-5 col-lg-3 text-center text-secondary f-label-css">氏名</div>
      <div class="col-7 col-lg-9 text-secondary"><%= @user.last_name %>　<%= @user.first_name %></div>
    </div>

    <div class="row my-4">
      <div class="col-5 col-lg-3 text-center text-secondary f-label-css">フリガナ</div>
      <div class="col-7 col-lg-9 text-secondary"><%= @user.last_name_kana %>　<%= @user.first_name_kana %></div>
    </div>

    <div class="row my-4">
      <div class="col-5 col-lg-3 text-center text-secondary f-label-css">所属</div>
      <div class="col-7 col-lg-9 text-secondary"><%= @user.department %></div>
    </div>

    <div class="row my-4">
      <div class="col-5 col-lg-3 text-center text-secondary f-label-css">役職</div>
      <div class="col-7 col-lg-9 text-secondary"><%= @user.position %></div>
    </div>

    <div class="row my-4">
      <div class="col-5 col-lg-3 text-center text-secondary f-label-css">メールアドレス</div>
      <div class="col-7 col-lg-9 text-secondary">
        <% if @user.id == current_user.id %>
          <% if @user.email_is_published == true %>
            <span><%= @user.email %>※同じチームの参加者に公開中</span>
          <% else %>
            <span><%= @user.email %>※同じチームの参加者に非公開</span>
          <% end %>
        <% else %>
          <% if @user.email_is_published == true %>
            <span><%= @user.email %>※同じチームの参加者に公開中</span>
          <% else %>
            <span>※非公開</span>
          <% end %>
        <% end %>
      </div>
    </div>

    <div class="row my-4">
      <div class="col-5 col-lg-3 text-center text-secondary f-label-css">その他</div>
      <div class="col-7 col-lg-9 text-secondary"><%= @user.introduction %></div>
    </div>

    <div class="row">
      <div class="d-flex justify-content-center mt-3 col-12 col-lg-12">
        <% if current_user.id == @user.id %>
          <%= link_to "編集する", edit_user_path(@user.id), class: "col-5 col-lg-5 btn btn-lg text-white" , style: "background-color: #8faadc; border-radius: 0;" %>
        <% end %>
      </div>
    </div>

  </div>
  <div class="col-1 col-lg-1"></div>
</div>