<h3><span>【<%= current_user.last_name %>さん】個人の仕事</span></h3>

<%= link_to "新しい仕事の予定を追加", new_event_path %>

<div>
  <%#= calendar(number_of_days: 1, attribute: :start_date, end_attribute: :end_date, events: @events) do |date, events| %>
  <%= calendar(start_date_param: :main_date, number_of_days: 1, attribute: :start_date, end_attribute: :end_date, events: @events) do |date, events| %>
    <% date %>

    <% events.each do |event| %>

      <% if event.appointment_id.present? %>
        <% appointment = Appointment.find(event.appointment_id) %>
        <%= link_to appointment.destination, appointment_path(appointment.id) %>
      <% end %>

      <% if event.meeting_id.present? %>
        <% meeting = Meeting.find(event.meeting_id) %>
        <%= link_to meeting.title, meeting_path(meeting.id) %>
      <% end %>

      <% if event.task_id.present? %>
        <% task = Task.find(event.task_id) %>
        <%= link_to task.title, task_path(task.id) %>
      <% end %>

    <% end %>

  <% end %>
</div>

<div>
  <%= week_calendar(start_date_param: :main_date, number_of_weeks: 2, attribute: :start_date, end_attribute: :end_date, events: @events) do |date, events| %>
    <% date %>

    <% events.each do |event| %>

      <% if event.appointment_id.present? %>
        <% appointment = Appointment.find(event.appointment_id) %>
        <%= appointment.destination %>
      <% end %>

      <% if event.meeting_id.present? %>
        <% meeting = Meeting.find(event.meeting_id) %>
        <%= meeting.title %>
      <% end %>

      <% if event.task_id.present? %>
        <% task = Task.find(event.task_id) %>
        <%= task.title %>
      <% end %>

    <% end %>

  <% end %>
</div>