<h3><span>【<%= current_user.last_name %>さん】個人の仕事</span></h3>

<%= link_to "新しい仕事の予定を追加", new_event_path %>

<div>
  <%= calendar(number_of_days: 14, attribute: :start_date, end_attribute: :end_date, events: @events) do |date, events| %>
    <%= date %>

    <% events.each do |event| %>
      <% if event.appointment_id.present? %>
        <% appointment = Appointment.find(event.appointment_id) %>
        <%= appointment.destination %>
      <% end %>
    <% end %>

  <% end %>
</div>