<div class="simple-calendar">

  <div class="calendar-heading">
    <%= link_to t('simple_calendar.previous', default: '前週'), calendar.url_for_previous_view %>
    <span><%= calendar.week_number %> - <%= calendar.end_week %></span>
    <%= link_to t('simple_calendar.next', default: '次週'), calendar.url_for_next_view %>
  </div>

  <table class="table text-secondary" style="table-layout:fixed;">
    <thead>
      <tr>
        <% week = ["月","火","水","木","金","土","日"] %>
        <% date_range.slice(0, 14).each do |day| %>
          <% weekday = day.strftime("%u").to_i %>
          <th><%= link_to day.strftime("%-m/%-d(#{week[weekday - 1]})"), root_path(main_date: day) %></th>
        <% end %>
      </tr>
    </thead>
  </table>

</div>