<h3><span>【<%= current_user.last_name %>さん】個人の仕事</span>にアポイントの予定を追加</h3>

<div>
  <span>日時</span><%= @event.start_date %><span>所要時間(目安)</span><%= @event.time_span %>
</div>
<div>
  <span>訪問先</span><%= @appointment.destination %>
</div>
<div>
  <span>担当者</span><%= @appointment.person_in_charge %>
</div>
<div>
  <span>前後の予定</span>
  <% if @appointment.contact_means == "訪問" %>
    <span>最寄り駅は、<%= @appointment.nearest_station %>です。移動にかかる前後<%= @appointment.travel_time %>の予定もおさえます。</span>
  <% else %>
    <span>オンラインで行います。機材準備と片付けにかかる前後<%= @appointment.preparation_time %>の予定もおさえます。</span>
  <% end %>
</div>

<%= form_with model: @event, url: "/appointments/#{@appointment.id}", loval: true do |f| %>
  <%= f.hidden_field :appointment_id, value: @appointment.id %>
  <%= f.hidden_field :end_date, value: @event.start_date + (@event.time_span.hour * 60 * 60) + (@event.time_span.min * 60) + (@event.time_span.sec) %>
  <%= f.submit '上記内容の仕事を追加' %>
<% end %>

<%= link_to "仕事の追加をキャンセル", "/appointments/#{@appointment.id}", method: :delete %>