<div class="row">
  <div class="col-4 col-lg-4 my-3">
    <div class="row">
      <div class="col-2 col-lg-2"></div>
      <%= link_to root_path, class: "btn col-10 col-lg-10 py-1 border border-primary", style: "text-decoration: none; border-radius: 0;" do %>
        <h5 class="text-secondary text-center m-0">【<%= current_user.last_name %>さん】個人の仕事</h5>
      <% end %>
    </div>
  </div>
  <p class="col-8 col-lg-8 my-3 text-secondary d-flex align-items-center">
    のアポイントの予定を編集
  </p>
</div>

<% if @event.errors.any? %>
  <%= @event.errors.count %>件のエラーが発生しました。
  <% @event.errors.full_messages.each do |message| %>
    <%= message %>
  <% end %>
<% end %>

<div class="row">
  <div class="col-1 col-lg-1"></div>
  <div class="col-10 col-lg-10">

    <%= form_with model: @event, url: "/appointments/#{@appointment.id}", local: true do |f| %>

      <div class="row my-4">
        <div class="col-5 col-lg-3 aline-items-center text-center text-secondary" style="background-color: #e7e6e6;">
          <%= f.label :start_date, "日時", class: "col-12 col-lg-12 pb-2 form-label" %>
        </div>
        <div class="col-7 col-lg-9">
          <div class="row">
            <div class="col-12 col-lg-12">
              <%= f.datetime_field :start_date, class: "form-control" %>
            </div>
          </div>
        </div>
      </div>

      <div class="row my-4 form-inline">
        <div class="col-5 col-lg-3 aline-items-center text-center text-secondary" style="background-color: #e7e6e6;">
          <%= f.label :time_span, "所要時間(目安)", class: "col-12 col-lg-12 pb-2 form-label" %>
        </div>
        <div class="col-7 col-lg-9">
              <%= f.time_select :time_span, {default: Date.today + 0.hours + 30.minutes, minute_step: 15}, class: "form-control" %>
        </div>
      </div>

      <%= f.fields_for :appointment do |g| %>

        <div class="row my-4">
          <div class="col-5 col-lg-3 aline-items-center text-center text-secondary">
            <div class="row">
              <%= g.label :destination, "訪問先", class: "col-12 col-lg-12 pb-2 form-label", style: "background-color: #e7e6e6;" %>
            </div>
          </div>
          <div class="col-7 col-lg-9">
            <div class="row">
              <div class="col-12 col-lg-12">
                <%= g.text_field :destination, class: "form-control" %>
              </div>
            </div>
          </div>
        </div>

        <div class="row my-4">
          <div class="col-5 col-lg-3 aline-items-center text-center text-secondary">
            <div class="row">
              <%= g.label :person_in_charge, "担当者", class: "col-12 col-lg-12 pb-2 form-label", style: "background-color: #e7e6e6;" %>
            </div>
          </div>
          <div class="col-7 col-lg-9">
            <div class="row">
              <div class="col-12 col-lg-12">
                <%= g.text_field :person_in_charge, class: "form-control" %>
              </div>
            </div>
          </div>
        </div>

        <div class="row my-4">
          <div class="col-5 col-lg-3 px-0 aline-items-center text-center text-secondary">
            <%= g.label :contact_means, "前後の予定", class: "col-12 col-lg-12", style: "background-color: #e7e6e6;" %>
            <div class="col-12 col-lg-12"></div>
          </div>
          <div class="col-7 col-lg-5">
            <div class="row form-inline">
              <div class="d-flex justify-content-end col-12 col-lg-12">
                <div class="form-check form-check-inline">
                  <%= g.radio_button :contact_means, "訪問", checked: true, class: "form-check-input" %>
                  <%= g.label :contact_means, "最寄り駅", class: "form-check-label text-secondary" %>
                </div>
                <%= g.text_field :nearest_station, class: "col-9 col-lg-7 form-control" %>
                <div class="d-none col-lg-1"></div>
              </div>
              <div class="col-1 col-lg-2"></div>
              <%= g.label :travel_time, "移動時間", class: "form-label text-secondary" %>
              <div class="col-1 d-lg-none"></div>
              <%= g.time_select :travel_time, {minute_step: 15}, class: "form-control" %>
            </div>
          </div>
          <div class="col-12 my-2 d-lg-none"></div>
          <div class="col-5 d-lg-none"></div>
          <div class="col-7 col-lg-4">
            <div class="row form-inline">
              <div class="col-12 col-lg-12 form-check form-check-inline">
                <div class="col-1 d-lg-none"></div>
                <%= g.radio_button :contact_means, "オンライン", class: "form-check-input" %>
                <%= g.label :contact_means, "オンライン", class: "form-check-label text-secondary" %>
              </div>
              <div class="d-col-none col-lg-1"></div>
              <div class="col-1 d-lg-none"></div>
              <%= g.label :preparation_time, "準備時間", class: "form-label text-secondary" %>
              <div class="col-1 d-lg-none"></div>
              <%= g.time_select :preparation_time, {minute_step: 15}, class: "form-control" %>
            </div>
          </div>
        </div>

      <% end %>

      <div class="row my-4">
        <div class="col-5 col-lg-3 aline-items-center text-center text-secondary">
          <div class="row">
            <%= f.label :participant, "参加者", class: "col-12 col-lg-12 pb-2 form-label", style: "background-color: #e7e6e6;" %>
          </div>
        </div>
        <div class="col-7 col-lg-9">
          <div class="row">
            <div class="d-flex justify-content-lg-around col-lg-12">
            <div class="col-12 col-lg-12 px-0">
              <div class="form-check form-check-inline">
                <%= f.radio_button :participant, :個人, checked: true, class: "form-check-input" %>
                <%= f.label :participant, "自分のみ訪問", class: "form-check-label text-secondary" %>
              </div>
              <div class="form-check form-check-inline">
                <%= f.radio_button :participant, :チーム, class: "form-check-input" %>
                <%= f.label :participant, "チームで訪問", class: "form-check-label text-secondary col-4 col-lg-4" %>
                <%= f.collection_select(:team_id, @teams, :id, :team_name, {prompt: "--自分が参加中のチームから選択--"}, class: "form-control col-8 col-lg-8") %>
              </div>
            </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="d-flex justify-content-center mt-3 col-12 col-lg-12">
          <%= f.submit "更新", class: "btn btn-lg text-white col-5 col-lg-5" , style: "background-color: #8faadc; border-radius: 0;"%>
        </div>
      </div>

    <% end %>

  </div>
  <div class="col-1 col-lg-1"></div>
</div>